*{
     margin: 0;
     padding: 0;
     list-style: none;   
    }
 body{
    width: 100%;
    color: black;
    text-align: center;
    min-height: 100vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.container{
       width: 50%;
       overflow-y: scroll;
       height: 90vh;
       padding: 15px 2%;
       box-shadow: 0 0 5px black;
   }
.container::-webkit-scrollbar{
       width: 14px;
       border: 1px solid black;
   }
.container::-webkit-scrollbar-thumb{
       background-color: black;
       border-radius: 6px;
   }
.hr_dados1{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 5px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_dados1::after {
	content: "Isadora Kist";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.4em;
	padding: 0 0.3em;
	background: white;
  }
.hr_01{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_01::after{
 content: 'Objetivo';
 display: inline;
 position: relative;
 top: -0.7em;
 font-size: 1.4em;
 padding: 0 0.3em;
 background-color: #fff;
  }
.hr_02{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
    }
.hr_02::after{
    content: 'escolaridade';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
    }


.hr_03{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
   }
  .hr_03::after{
   content: 'FormaÃ§Ã£o';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
.hr_04{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
   }
.hr_04::after{
   content: 'ExperiÃªncia';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
.hr_05{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_05::after{
  content: 'Ferramentas';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
  }
.hr_06{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_06::after{
   content: 'cursos extras';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
  }
  .hr_07{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_07::after{
    content: 'Linguagens';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
    }
.hr_08{
	border-top: medium dashed black;
	border-bottom: medium dashed black;
	height: 3px;
	overflow: visible;
	padding: 0;
	text-align: center;
  }
.hr_08::after{
   content: 'Redes Sociais';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
   }
.fab{
   cursor: pointer;
   margin: 5px;
   max-height: 100%;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   }
.fab:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    color: #000;
    }