body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    border: 1px solid rgb(89, 0, 255);
    background-color: #000000;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: rgb(89, 0, 255);
    font-family: Arial, sans-serif;
}
