body {
    background-image: linear-gradient(to right, blue, blue, blue, red, blue, blue,blue);
}

summary {
    color: white;
    font-family: "courier new";
    font-size: 1.10em;
    font-weight: bold;
}
    
.h1 { 
    font-family: Comic Sans MS;
    font-size: 17px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}