h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}
p {
    font-size: 18px;
}
li {
    font-size: 18px;
}

.topnav {
    background-color: black;
    padding: 30px;
    text-align: left;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.topnav2 {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}
.topnav2:hover {
    font-size: 18px;
}








