@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    font-family: "Italiana", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    position: absolute;  /* Permite que a div flutue pela tela */
    text-align: center;
    transform: translate(-50%, -50%); /* Centraliza o container */
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 10vh;
    margin-bottom: 20px;
    color: grey;
}

button {
    font-family: "Italiana", sans-serif;
    font-size: large;
    padding: 10px 20px;
    background-color: grey;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: silver;
}

.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-item {
    margin: 20px;
    text-align: center;
}

.link-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.link-item img:hover {
    transform: scale(1.05);
}

.link-item p {
    margin-top: 10px;
    color: white;
    font-size: large;
}