body {
    background-color: rgb(147, 146, 239);
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Comic Sans MS;
    font-size: 25px;
}

label, div {
    color: #ffffff;
    font-size: large;
    padding: 12px;
    font-family: Comic Sans MS;
}

input {
    color: #000000;
    font-size: large;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Comic Sans MS;
    cursor: pointer;
}