
html {
    background-image: url(home.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    color: rgb(255, 255, 255);
    padding: 350px;
    font-size: 60px;
}

header{
    background-color: #331b00;
    padding: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

a {
    color: aliceblue;
    text-decoration: none;
}

p {
    font-size: 22px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.obj {
    background-color: rgb(223, 205, 174);
    border: 10px solid #331b00;
    padding: 50px;
}
.obj h2 {
    margin-top: -100;
}

.obj li {
    padding:10px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.problemas {
    background-color: rgb(189, 168, 136);
    border: 10px solid #331b00;
    padding: 50px;
}

.rt{
    background-color: rgb(197, 171, 130);
    border: 10px solid #331b00;
    padding: 50px;
}

h3 { 
    margin-left: 70px;
    margin-right: 70px;
    font-size: 25px;
}