html {
    background-image: url (https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ecycle.com.br%2Fsol%2F&psig=AOvVaw27IV3hnz3ixcvUEDYQVP7M&ust=1684432555439000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNiH5LH2_P4CFQAAAAAdAAAAABAE) ;
}
h1 {
    color: rgb(255, 217, 0);
    font-size: 40px;
}
h2 {
    font-size: 30px;
}