*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-image: linear-gradient(to bottom, rgb(212, 25, 212) ) ;
    background-color: rgb(143, 7, 143);
    
    
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;

}

.scroll_bar {
   
}
    .scroll_bar::-webkit-scrollbar {
        display: none;
        float: left;
    }

header{
    margin: 0.5%;
}

    h1{
        font-size: 4em;
        text-align: center;
    }

main{
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    left: 12.5%;
    width: 75%;
    margin-top: 5%;
}


.button {  
    background: none;
    border: 2px solid;
    font-size: 1.1em;
    margin: 0.5em;
    padding: 1em 2em;
    min-width: 20%;
    max-width: 20%;
    max-height: 5%;
    min-height: 5%;

    text-align: center;
    text-decoration: none;
    color: #000;
}

  
.button:hover,
.button:hover:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  border-color: #ef6eae;
  /* border-color: #a972cb; */
  transform: translateY(-0.25em);
}

footer{
    margin-top: -0.7%;
}
