h1{
    text-align: center;
    font-family: Arial;
    font-style: italic;
    font-size: larger;
    
}

h2{
    text-align: center;
    font-size: larger;
    font-family: Arial;
    font-style: italic;
    
}

h3{
    text-align: center;
    font-size: larger;
    font-family: Arial;
    font-style: italic;
    
}



p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color:#363636;
    text-align: center;
   
}
   
header{
    background-color: #808080;
    padding: 0.5%;
    width: 98%;
    margin: 0;
}

.eca{
    font-size: large;
}