*{
    padding: 0;
    margin: 0%;
}

body {
    background-color: rgb(224, 253, 253);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

header{
    display: flex;
    height: 80px;
    width: 100%;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: white;
    
}

#menu{
    display: flex;
    list-style: none;
}


#menu a{
    display: flex;
    padding: .5rem;
    padding: 0;
    font-size: medium;
}


.logo1{
    height: 70px;
    width: 70px;
    margin: 0;
}

h1 {
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h2 {
    padding: 0px;
    margin:70px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 70px;
    font-size: 22px;
    margin-right: 730px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    margin: 70px;
    font-size: 20px;
    margin-left: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

img {
    border-radius: 5px;
    margin-top: 22px;
    float: right;
}