
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
text-align: center;
font-family: 'Montserrat', sans-serif;
}
.resumo{
    background-image: url(imagem1.webp);
    width: 100%;
    height: 550px;
    border: px solid black;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}

.card{
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    color: rgb(0, 0, 0);

}

