.fibonacci-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: brown;
    overflow: hidden;
  }
  
  .fibonacci-squares {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 126px;
    height: 204px;
  }
  .fibonacci-squares .square {
    box-sizing: border-box;
    position: absolute;
    border: 2px solid aqua;
    background-color: transparent;
  }
  .fibonacci-squares .square.square-1 {
    width: 160px;
    height: 160px;
    bottom: 0;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .fibonacci-squares .square.square-2 {
    width: 78px;
    height: 78px;
    transform-origin: right bottom;
    top: -78px;
    right: 0;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-3 {
    width: 48px;
    height: 48px;
    transform-origin: top right;
    top: 0;
    left: -48px;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-4 {
    width: 30px;
    height: 30px;
    transform-origin: top left;
    bottom: -30px;
    left: 0;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-5 {
    width: 18px;
    height: 18px;
    transform-origin: bottom left;
    bottom: 0;
    right: -18px;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-6 {
    width: 7px;
    height: 7px;
    transform-origin: bottom right;
    top: -12px;
    right: 0;
    -webkit-animation: square-rotate 14s ease-in-out infinite;
            animation: square-rotate 14s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-7 {
    width: 24px;
    height: 24px;
    transform-origin: top right;
    top: 0;
    left: -6px;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  .fibonacci-squares .square.square-8 {
    width: 12px;
    height: 12px;
    transform-origin: top left;
    bottom: -6px;
    left: 0;
    -webkit-animation: square-rotate 10s ease-in-out infinite;
            animation: square-rotate 10s ease-in-out infinite;
  }
  @-webkit-keyframes square-rotate {
    0% {
      transform: rotate(-444);
    }
    50% {
      transform: rotate(-900deg);
    }
    100% {
      transform: rotate(-675);
    }
  }
  @keyframes square-rotate {
    0% {
      transform: rotate(-777);
    }
    50% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-666);
    }
  }