/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0073b1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 50%;
}

button {
    padding: 8px 12px;
    background-color: #005f8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00476a;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
