html, body{
    text-align: center;
    background: rgb(53, 0, 105); 
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.instagram{
    text-decoration: none;
    color: #8134af;
}


h1{
    padding-top: 3vw;
    -webkit-text-stroke: .1vh #ffffff;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-image: url(https://img.freepik.com/fotos-premium/fundo-do-espaco-caotico-planetas-estrelas-e-galaxias-no-espaco-sideral-mostrando-a-beleza-da-exploracao-espacial_372999-412.jpg?w=1800);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
    transition-duration: 0.5s;
    margin-bottom: 2vw;

}

@keyframes text{
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}


button{
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
    margin-top: 1vw;
    padding:1.5vw;
    color: #ffffff;
    background: #ff0000;
    border: 0.3vw solid rgb(0, 0, 0);
    border-radius: 0.5vw;
    user-select: none;
    cursor: pointer;
    align-items: center;
    transition-duration: 0.5s;

}

button:hover{
    font-size: 2vw;
    background-image: 0;
    background-position: center;
    padding: 2.0vw;
    transition-duration: 0.5s;
    color: #ffffff;
    border: 0.3vw solid rgb(0, 0, 0);
    text-shadow: 0 0 1vw #ffffff, 0 0 2vw #ffffff, 0 0 3vw #ffffff, 0 0 4vw #ffffff, 0 0 5vw #ffffff;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: #ffffff;
    padding-top: 0.8vw;
    padding-bottom: 0.6vw;
    margin-top: 8vw;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
