body {
    margin: 0; 
    padding-top: 45px; 
    background-color: white;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
.navbar {
  background-color: #FF3B7B;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 35px;
  z-index: 1;
}
.navbar-right {
    display: flex;
    justify-content: flex-end;
}
.navbar a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: "DM Serif Display";
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

h1 { font-family: "DM Serif Display";

}

h2 { font-family: "DM Serif Display";
}

h3 { font-family: "DM Serif Display";
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #FF3B7B;
}
button {
  background-color: #FF3B7B;
  color:rgb(255, 255, 255);
  border: 0;
  padding: 15px 32px;
  border-radius: 60px;
  margin-left: 1%;
  margin-right: 1%;
}
.a {
  background-image: url('instagram_icon-removebg-preview.png');
  background-size: cover;
  width: 60px;
  height: 65px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.b {
  background-image: url('whatsapp.png');
  background-size: cover;
  width: 60px;
  height: 65px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}