body {
    margin-left: 12rem;
    margin-top: 3rem;
    margin-right: 12rem;
    background-color: #f77c7c;
}

.palavra {
    color: #7cf77c;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 5px;
}

.separar {
    background-color: rgb(183, 45, 61);
    border: solid 1px black;
    box-shadow: 3px 3px 5px;
    padding-left: 15px;
    padding-bottom: 10px;
}

header {
    text-align: center;
    margin-top: 14rem;
    margin-bottom: 14rem;
}

header h1 {
    font-family: "Freeman", sans-serif;
    color: rgb(175, 1, 1);
    text-transform: uppercase;
}

.titleB {
    color: #7cf77c;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 5rem;
}