h1.astro-HWXNCJM2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}
@keyframes ani {
    0% {
        transform: translateZ(0);
        text-shadow: 0 0 0 var(--light);
        color: var(--dark);
    }
    30% {
        transform: translateZ(0);
        text-shadow: 0 0 0 var(--light);
        color: var(--dark);
    }
    70% {
        transform: translate3d(.08em,-.08em,0);
        text-shadow: -.08em 0.08em var(--light);
        color: var(--dark);
    }
    to {
        transform: translate3d(.08em,-.08em,0);
        text-shadow: -.08em 0.08em var(--light);
        color: var(--dark);
    }
}
span.astro-HWXNCJM2 {
    position: relative;
    display: inline-block;
    margin-right: -8px;
    animation: ani 1s infinite alternate cubic-bezier(.86,0,.07,1);
}
span.astro-HWXNCJM2:nth-last-child(1n) {
    animation-delay: -.1666666667s;
}
span.astro-HWXNCJM2:nth-last-child(2n) {
    animation-delay: -.3333333333s;
}
span.astro-HWXNCJM2:nth-last-child(3n) {
    animation-delay: -.5s;
}
@media (prefers-reduced-motion: reduce) {
    span.astro-HWXNCJM2 {
        animation: none;
    }
}