@charset "UTF-8";
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222; 
    color: #fff; 
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #333; 
    opacity: 0.9;
    padding: 20px;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav {
    margin-top: -20px;
    margin-right: -8px;
}

.topnav a {
    color: orangered;
    text-decoration: none;
    font-size: 18px; 
    margin-right: 20px;
    transition: color 0.3s; 
}

.topnav a:hover {
    color: #ff4500; 
}
.line {
    background-color: #888; 
    height: 1px;
    margin: 20px 0;
}

h1 {
    font-size: 60px; 
    margin-top: 50px;
    text-align: center;
    color: #ff4500;
    font-weight: bold; 
}

h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    color: #ff4500;
}


p {
    font-size: 18px; 
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6;
}


.olltable {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333; 
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
}


footer {
    background-color: #333;
    opacity: 0.9;           
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff; 
}

.backtotop {
    text-decoration: none;
    color: orangered;
    font-size: 18px;
}