h1 {
    font-size: 40px;
    color: rgb(31, 83, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    color:  rgb(31, 83, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 20px;
    color: rgb(31, 83, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    padding-right: 20px;
}
h4 {
    color:rgb(31, 83, 27);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    padding-right: 20px;
}
a{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
p {
    font-size: 18px;
    margin: 30px;
    padding-right: 20px;
}
li {
    font-size: 18px
}

.topnav {
    background-color: rgb(31, 83, 27);
    text-align: left;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.topnav2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

button {
    background-color:  rgb(31, 83, 27);
    color:  rgb(31, 83, 27);
    border: 0;
    padding: 30px;
    cursor: pointer;
    margin: 5px; 
}
.topnav2 {
    background-color: rgb(31, 83, 27);
    text-align: left;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}