body{   
    color: #ddd;    
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

h1{
    text-align: center;
}

ul{ 
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    list-style-type: square;
    list-style-position: outside;
    width: 300px;
    border-color: #e14a4a;
    margin-left: 38%;

}

ul li{ 
    color: #e14a4a;
    padding: 2px 4px;
    border-bottom: 2px solid #e14a4a;
    margin: 1px;
    margin-left: -20px;
}

ul li:last-child{
    border-bottom: none;
}

p{
    background-color: rgba(255, 255, 255, 0.8);
    text-indent: 20px;
    color: black;
    font-size: 20px;
}

h2{
    background-color: rgba(255, 255, 255, 0.5);
    border-style: outset;
    border-color: white;
    color: rgb(0, 0, 0);
    border-radius: 200px;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
}

a{
    color: black;
}


.img {
    opacity: 0.8;
}

.img:hover {
    opacity: 1.0;
}


/*classes*/


.w3schools{
    color: rgb(42, 172, 96);
    margin-left: auto;
}



/*id*/
#center{
  text-align: center;
}



