html {
    font-family:  Lucida Bright;
    background-image:url("agua2.png");
    
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;

}
p {
    font-size: 20px;
}
li {
    font-size: 20px;
}
button {
    background-color: #deedfb;
    color: #386eb1;
    border: 1;
    border-color: #4e95eb;
    padding: 15px 32px;
    border-radius: 10px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px; 
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    
}
button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
   
}
