* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll__bar {
    overflow-y: scroll;
}
.scroll__bar::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1d4584;
    user-select: none;
}

header {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 60rem;
    min-height: 37rem;

    display: flex;
}

h1 {
    margin: 0 auto;
    color: #f19200;
    justify-self: center;
    align-self: center;
    font-size: clamp(2rem, 1rem + 10vh, 4rem);
}

.container {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 60rem;
    min-height: 70rem;
    background: #f7f7f7;
}

h2 {
    color: #f19200;
    text-align: center;
    padding: 1em;
    font-size: clamp(1rem, 0.2rem + 10vh, 3rem);
}

@media (min-width: 40em) {
    .split {
        display: flex;
        gap: 2em;
    }
}

p {
    font-size: 20px;
    padding: 1rem;
}

span {
    font-size: 23px;
    font-weight: 600;
    color:#1d4584;
}

hr {
    margin: 2rem 5rem;
}

img {
    width: 65%;
    float: left;
    padding: 0 1rem;
}

a {
    color: #f19200;
}

footer {
    color: #f7f7f7;
    margin: 0 auto;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
