* {
    font-family: 'Roboto', sans-serif;
    /* font-weight: 100; */
}

/* CORES DE BACKGROUND */
.bg-primary-color {
    background-color: white;
}

.bg-secodary-color {
    background-color: rgb(209, 209, 209);
}

.bg-dark-color {
    background-color: rgb(41, 41, 41);
}

/* CORES DE FONTE*/
.primary-color {
    color: #050505;
}

.secondary-color {
    color: rgb(51, 51, 51);
}

/* NAVBAR */
#navbar {
    border-bottom: 1px solid #7a7a7a;
}

/* Ajustar o nome da empresa */
.navbar-brand {
    display: flex;
}

/* Alterar o tamanho do ícone */
.navbar-brand img {
    width: 100px;
    padding-left: 50px;
}

/* Alterar a fonte */
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0.5em;
}

/* Alterar a área dos menus */
#navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbarNav .nav-item {
    margin: 0 2em;
    font-weight: 300;
    font-size: 1.2em;
}

/* Hover dos menus */
#navbar a:hover {
    color: #7a7a7a;
}

/* Marcar o link ativo */
#navbar a:active {
    border-bottom: 1px solid #7a7a7a;
}

/* SLIDER */
/* Margem topo da foto */
#slider {
    margin-top: 8em;
}

/* Subir o conteúdo */
.carousel-caption {
    bottom: 12em;
}

/* Mudar o título */
.carousel-caption h5 {
    font-size: 3em;
    text-shadow: #000 2px 2px 5px;
}

/* Mudar a descrição */
.carousel-caption p {
    font-size: 1em;
    text-shadow: #000 2px 2px 5px;
}

/* Formatar o botão */
.carousel-caption .btn {
    border-radius: 0;
    padding: 0.5em 2em;
    font-size: 1em;
    margin-top: 1em;
}

/* Formatar os indicadores */
.carousel-indicators [data-bs-target] {
    background-color: #2c2c2c;
    opacity: 0.8;
}

/* Formatar o indicador ativo */
.carousel-indicators .active {
    background-color: #000;
}

/* Posiciona os indicadores */
.carousel-indicators {
    bottom: 7em;
}

/* MINI BANNERS */

/* Tirar os espaços do texto do centro */
.container .text-center {
    padding: 0;
}

#mini-banners {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

/* Ajustar o card */
#mini-banners .card {
    border-radius: 0;
    padding: 2em 1em;
    margin-bottom: 1em;
}

/* Tirar os espaços das colunas */
#mini-banners .col {
    padding: 0;
}

/* Formatar os icones */
#mini-banners i {
    font-size: 4em;
}

/* Formatar Títulos */
#mini-banners .card-title {
    margin-bottom: 1.5em;
}

/* Formatar o botão */
#mini-banners .btn {
    border-radius: 0;
    margin-top: 1.5em;
    padding: 0.4em 1.5em;
    font-size: 0.9em;
}

/* DESTAQUES */

/* Criar margens topo */
#destaque {
    margin-top: 4em;
}

/* Formatar a linha */
#destaque hr {
    width: 6em;
    border: 1px solid #7a7a7a;
    opacity: 1;
}

/* MD para resolução mínima de 768px */

@media (min-width: 768px) {
    
    /* MINI BANNERS */
        #mini-banners {
            flex-direction: row;
            margin: -6em 3.5em 0 3.5em;
        }

        /* Ajustar os cards */
        #mini-banners .card{
            margin: 0.7em;
        }

}