#pdf{
    padding-left: 50%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
details{
    text-align: center;
}
img{
    align-items: center;
}
#fotos{
    margin-left: 30%;
}
h3{
    text-align: center;
}
#video{
    margin-left: 32%;
}

