h1 {
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
h3 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(249, 87, 255);
    font-size: 25px;
}
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(198, 119, 201);
}
p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: 16px;
}
section {
	padding: 20px;
	margin: 40px;
	border: 2px solid rgb(249, 87, 255);
    background-color: rgb(253, 205, 255);
	border-radius: 9px;
}
center { 
    background-color:  rgb(249, 87, 255);
}
html {
    background-color:  rgb(255, 255, 255);
}
li { 
    color: rgb(198, 119, 201);
}