@font-face {
    font-family: 'Seagram';
    src: url("./assets/fonts/seagram_tfb/Seagram\ tfb.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.scroll__bar {
    background-color: transparent;
    overflow-y: scroll;
}
.scroll__bar::-webkit-scrollbar {
    display: none;
}


body {
    background-image: url("./assets/imgs/bg.jpg"); /* https://e0.pxfuel.com/wallpapers/803/739/desktop-wallpaper-greek-mythology.jpg */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Seagram';
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 4rem;

    color: #2c2221;
}

.text-box {
    position: relative;
    max-width: 75%;
    max-height: fit-content;
    padding: 2.5rem;

    font-size: 2.5rem;
    word-spacing: 3px;
    line-height: 3.5rem;
    text-align: justify;


    color: #e2d9ce;
    border: 4px solid #2c2221;
    border-radius: 4px;

    background-color: #2c2221;
    background-color: rgba(0,0,0, 0.4);

}

.btn {
    text-decoration: none;
    font-size: 2rem;
    color: #e2d9ce;
    padding: 15px 45px;
    border: 2px solid #e2d9ce;
    position: relative;
    transition: 0.5s;
    margin: 2% auto;
}

.btn::after,
.btn::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s;
}
.btn::before {
    top: -10px;
    left: -10px;
    border-width: 2px 0 0 2px;
}
.btn::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 2px 2px 0;
}
.btn:hover::after,
.btn:hover::before {
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}


@media (max-width: 560px) {
    h1{
        font-size: 7rem;
        text-align: center;
    }

    .text-box{
        width: 80%;
    }

    .btn {
        margin-top: 3rem;
    }
}

/* Swear more, code better:

 - se fuder 
 - toma no cu tbm
 - que odio 
 - AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 - essa merda n funciona
 - ANKDAJBDIDBAKN

 */
