
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@200&family=Montserrat:wght@100&family=Noto+Sans+TC:wght@100&family=Quicksand:wght@300&display=swap');


body{
    text-align: center;
    background-color: rgb(149, 255, 255);
    font-family: 'Abel', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Quicksand', sans-serif;
}