@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.evento{
    padding-right: 0px;
    fle
    
}
img{
    padding-left: 30px;
    border: 2px solid black;
}