*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container label{
    margin-top: 20%;
}

h1{
    font-size: xx-large;
    text-align: center;
}

