html{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(210, 1, 1) 0%, rgb(255, 255, 255) 100%);
    margin-left: 20%;
    margin-right: 20%;
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    inline-size: 25%;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}