/* -------------------------------------- CONTATO ----------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

#contato {
    display: flex;
}

.snip1515 {
    font-family: "Open Sans", Arial, sans-serif;
    position: relative;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
}

.snip1515 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1515 .profile-image {
    display: inline-block;
    width: 80%;
    z-index: 1;
    position: relative;
    padding: 10px;
    border: 2px solid #005f6b;
}

.snip1515 .profile-image img {
    max-width: 100%;
    vertical-align: top;
}

.snip1515 figcaption {
    width: 100%;
    background-color: #f2f2f2;
    color: #555;
    padding: 125px 25px 25px;
    margin-top: -100px;
    display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
    margin: 0 0 5px;
}

.snip1515 h3 {
    font-weight: 600;
    font-size: 1.3em;
    font-family: "Playfair Display", Arial, sans-serif;
}

.snip1515 h4 {
    color: #00b4cc;
    font-weight: 400;
    letter-spacing: 2px;
}

.snip1515 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
}

.snip1515 .icons {
    text-align: center;
    width: 100%;
}

.snip1515 i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #005f6b;
    opacity: 0.75;
}

.snip1515 i:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
/*----------------------------- SOBRE FORMULÁRIOS ---------------------------- */
#sobformulario ul li {
    font-size: 18px;
    list-style: none;
    margin: 16px 0;
    color: #343838;
}

/* ---------------------------------------- SOBRE ---------------------------- */
.sobtit {
    margin-left: 14%;
    margin-bottom: 30px;
    color: #343838;
    font-size: 40px;
}

.formtit {
    text-align: center;
    margin-bottom: 30px;
    color: #343838;
    font-size: 40px;
}


/* ---------------------------------------- HOME ---------------------------- */
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00b4cc;
    box-shadow: inset 0 0 5px rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
    background: #343838;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #005f6b;
}

/* Navegação */
.tabbar {
    --primary: #343838;
    --background: #00b4cc;
    --inactive: #fff;
    --shadow: rgba(18, 22, 33, .24);
    --line: #CDD9ED;
    background: var(--background);
    box-shadow: 0 1px 4px -1px var(--shadow);
    border-radius: 5px 5px 21px 21px;
    width: 40%;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    margin-left: 30%;
}

.tabbar ul {
    --x: 54px;
    margin: 0;
    padding: 0 2px;
    list-style: none;
    display: grid;
    position: relative;
    overflow: hidden;
    text-align: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.tabbar ul:before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--x);
    background: var(--primary);
    width: 60px;
    margin-left: -30px;
    height: 40px;
}

.tabbar ul li {
    position: relative;
}

.tabbar ul li:before,
.tabbar ul li:after {
    content: "";
    background: var(--background);
    height: 44px;
    width: 84px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -42px;
}

.tabbar ul li:before {
    border-radius: 0 48% 0 0;
}

.tabbar ul li:after {
    border-radius: 48% 0 0 0;
}

.tabbar ul li a {
    padding: 20px 0;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: var(--primary);
    transition: transform 0.2s ease;
}

.tabbar ul li a:active {
    transform: scale(0.9);
}

.tabbar ul li a:before,
.tabbar ul li a:after {
    content: "";
    top: 0;
    left: 50%;
    position: absolute;
    background: var(--primary);
    border-radius: 1px;
    width: 2px;
    margin-left: -1px;
    transform-origin: 50% 0;
    transform: translateY(-14px) scaleX(0.6);
}

.tabbar ul li a:before {
    height: 8px;
}

.tabbar ul li a:after {
    height: 4px;
}

.tabbar ul li a div {
    background: var(--inactive);
    width: 24px;
    height: 24px;
    margin: 0 auto 4px auto;
}

.tabbar ul li a div:before {
    --y: -100%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(var(--y));
    position: absolute;
    transition: transform 0.4s linear;
    background: var(--primary);
}

.tabbar ul li a span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.36s linear;
}

.tabbar ul li.active:before {
    -webkit-animation: before 1.1s ease;
    animation: before 1.1s ease;
}

.tabbar ul li.active:after {
    -webkit-animation: after 1.1s ease;
    animation: after 1.1s ease;
}

.tabbar ul li.active a {
    -webkit-animation: bounce 0.9s linear 0.3s;
    animation: bounce 0.9s linear 0.3s;
}

.tabbar ul li.active a:before {
    -webkit-animation: drop 0.4s linear 0.1s forwards;
    animation: drop 0.4s linear 0.1s forwards;
}

.tabbar ul li.active a:after {
    -webkit-animation: drop 0.5s linear 0.13s forwards;
    animation: drop 0.5s linear 0.13s forwards;
}

.tabbar ul li.active a div:before {
    --y: 0;
    transition-delay: 0.3s;
}

.tabbar ul li.active a span {
    opacity: 1;
    transition-delay: 0.38s;
}

.tabbar ul li.home a div {
    -webkit-mask-box-image: url("imgs/casa.png");
    -webkit-mask: url("imgs/casa.png");
    mask: url("imgs/casa.png");
}

.tabbar ul li.livro a div {
    -webkit-mask-box-image: url("imgs/livro.png");
    -webkit-mask: url("imgs/livro.png");
    mask: url("imgs/livro.png");
}

.tabbar ul li.telefone a div {
    -webkit-mask-box-image: url("imgs/telefone.png");
    -webkit-mask: url("imgs/telefone.png");
    mask: url("imgs/telefone.png");
}

.tabbar ul li.form a div {
    -webkit-mask-box-image: url("imgs/forma.png");
    -webkit-mask: url("imgs/forma.png");
    mask: url("imgs/forma.png");
}

.tabbar ul li.formcad a div {
    -webkit-mask-box-image: url("imgs/cadastro.png");
    -webkit-mask: url("imgs/cadastro.png");
    mask: url("imgs/cadastro.png");
}

.tabbar ul li.sobforms a div {
    -webkit-mask-box-image: url("imgs/meta.png");
    -webkit-mask: url("imgs/meta.png");
    mask: url("imgs/meta.png");
}

@-webkit-keyframes bounce {
    40% {
        transform: translateY(9px);
    }

    55% {
        transform: translateY(-1px);
    }

    70% {
        transform: translateY(4px);
    }
}

@keyframes bounce {
    40% {
        transform: translateY(9px);
    }

    55% {
        transform: translateY(-1px);
    }

    70% {
        transform: translateY(4px);
    }
}

@-webkit-keyframes drop {
    50% {
        transform: translateY(10px) scaleY(1.2) scaleX(0.5);
    }

    100% {
        transform: translateY(20px) scaleY(0) scaleX(0.5);
    }
}

@keyframes drop {
    50% {
        transform: translateY(10px) scaleY(1.2) scaleX(0.5);
    }

    100% {
        transform: translateY(20px) scaleY(0) scaleX(0.5);
    }
}

@-webkit-keyframes before {

    45%,
    55% {
        transform: translateX(-41px);
    }
}

@keyframes before {

    45%,
    55% {
        transform: translateX(-41px);
    }
}

@-webkit-keyframes after {

    45%,
    55% {
        transform: translateX(41px);
    }
}

@keyframes after {

    45%,
    55% {
        transform: translateX(41px);
    }
}

/* ---------------------------------------- CONTEÚDO DO SITE -------------------------------------- */

.title {
    text-align: center;
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
    /* margin-left: 13rem; */
    border: solid 5px #343838;
    border-right: none;
    border-left: none;
    background-color: #00dffc;
    font-weight: bold;
    /* width: 35%; */
    padding: 30px 0 30px 0;
    color: #343838;
} 

/* Informação */
section {
    width: 72%;
    padding: 0 14% 0 14%;
}

.imagem {
    border-radius: 20px;
    width: 60%;
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}



h2 {
    color: #005f6b;
}

section p {
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #343838;
}

/* Rodapé */
footer {
    background-color: #008c9e;
    bottom: 0;
    width: 100%;
    margin-top: 8px;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

footer p {
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #5a6e98;
}