a.astro-4YQVLCXF {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--med);
    font-weight: 700;
    background: var(--light);
    box-shadow: inset 4px 0 16px #fdfaf980,inset 0 -4px 16px #f9ecea80,inset -4px 0 16px #73302280,var(--buttondrop);
    border-radius: 8px;
    transition: none;
}
a.astro-4YQVLCXF:hover {
    box-shadow: inset 8px 0 16px #fdfaf980,inset 0 -8px 16px #f9ecea80,inset -8px 0 16px #73302280;
    transition: 0.5s;
}
@media (prefers-reduced-motion: reduce) {
    a.astro-4YQVLCXF:hover {
        box-shadow: inset 4px 0 16px #fdfaf980,inset 0 -4px 16px #f9ecea80,inset -4px 0 16px #73302280;
        transition: none;
    }
}