.astro-2ETNOFZR[astro-icon] {
    color: var(--med);
}
.icon.astro-2ETNOFZR {
    text-decoration: none;
}
a.astro-2ETNOFZR {
    box-shadow: none;
    padding: 0;
    transition: none;
}
a.astro-2ETNOFZR:hover {
    background: none;
}