html {
    background-color: #fdf0ff	;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

button {
    background-color:  #fdf0ff;
    color:rgb(0, 0, 0);
    border: 1;
    border-color: rgb(0, 0, 0);
    padding: 8px 10px;
    border-radius: 10px;
}