
body {
    background-image: linear-gradient(90deg, green, yellow, rgb(0, 26, 255));
}
header{
    display: flex;
    height: 110px;
    padding: 40px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: black;
    font-size: large;
}
#menu{
    display: flex;
    list-style: none;
}
#menu a{
    display: block;
    padding: .5rem;
}
.logo1{
    height: 70px;
    width: 100px;
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
}
img {
    height: 400px;
    width: 600px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h1 {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h1{
    -webkit-text-stroke: .1vh #000000;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
    transition-duration: 1s;
    background-repeat: no-repeat;
}

@keyframes text{
    from{
        background-position: 5% 30%;
    }
    to{
        background-position: 100% 30%;
    }
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a:hover{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}