body {
    margin: 0;
}

/* NAVEGAÇÃO */
nav {
    background-color: #172540;
    padding: 20px;
}

nav ul {
    flex-direction: row;
    text-align: center;
    list-style: none;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

nav ul li {
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFECCC;
    padding: 16px 80px;
}

nav ul li a:hover {
    color: #172540;
    background-color: #FFECCC;
    transition: all .5s;
}

/* INTRODUÇÃO */
header {
    margin: 0;
    padding: 14rem 0;
    background-image: url("../img/musicoterapia.png");
}

header #inicio {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 0;
}

header h2 {
    margin: 0 218px;
    border-top: 1px solid #000000;
}

/* SOBRE */
.musicoSobre {
    background-color: #172540;
}

.musicoSobre h2 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: #fdd897;
}

.musicoSobre p {
    margin-bottom: 0;
    padding: 15px 20px;
    text-align: justify;
    color: #FFECCC;
}

/* OBJETIVOS */
.musicoObjetivo {
    background-color: #FFECCC;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
}

.musicoObjetivo h2 {
    width: 100%;
    text-align: center;
}

.musicoObjetivo h3 {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 10px 70px;
    display: flex;
}

.musicoObjetivo div {
    margin: 0 200px;
}

#img1,
#img2 {
    width: 50%;
    margin: -10px 0px;
    padding: 170px 30px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s;
    text-decoration: none;
    text-align: center;
}

ul#img1 {
    background-image: url("../img/musi.png");
    background-attachment: local;
    margin-top: 12px;
}

ul#img2 {
    background-image: url("../img/musidois.png");
    background-attachment: local;
    margin-top: -28px;
}

.musicoObjetivo ul li {
    cursor: pointer;
    max-width: 150px;
    text-decoration: none;
    display: block;
    text-align: justify;
    color: #5a6e9800;
}

.musicoObjetivo ul:hover li {
    color: #5a6e98;
    transition: all 1s;
    box-shadow: 1px 1px 8px #172540;
    background-color: #fdd897
}

/* CONCLUSÃO */
.musicoConclusao {
    background-color: #172540;
}

.musicoConclusao h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: #FFECCC;
    justify-content: center;
}

.musicoConclusao p {
    margin-bottom: 0;
    padding: 15px 20px;
    text-align: justify;
    color: #FFECCC;
}

/* RODAPÉ */
footer {
    background-color: #000000;
}

footer p {
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #5a6e98;
}