body{
    text-align: center;
    background: url(spaceship.gif);
}
img{
    width: 500px; height: 300px;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2{
    color: rgb(117, 200, 206);
}

h1{
    font-size: 100px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: fantasy;
    font-weight: 500;
}

button{
  background-color: rgb(129, 70, 184);
  cursor:pointer;
  text-align: left;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  transition-duration: 0.5s;
}
button:hover{
    padding: 15px;
    border-radius: 30px;
    transition-duration: 0.5s;
    font-size: 18px;
}
p{
    margin-left: 70px;
    margin-right: 70px;
}

html{
    scroll-behavior: smooth;
}
