	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
	html {
		background-color:#042A2B;
		scroll-behavior: smooth;

		color:#EEF9FC;
		line-height: 1.6;
		font-family: 'Montserrat', sans-serif;
	}  

	::selection{
		background-color: #5EB1BF;
	}

	header {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		width: 100%;
		height: 700px;
		margin: 0 auto;
	}

	section {
	min-width:30m;
	max-width: 50em;
	margin: 0 auto;
	padding: 20px;
	text-align: justify;
	}
	
	h1 {
		color:#EEF9FC;
		text-align:center;
		font-style: italic;
		font-size:4.5rem;
		font-family: 'Bebas Neue', sans-serif;
		margin: 4rem;
		line-height:.9em;
		padding-bottom:.5em;
		margin-bottom:.5em;
		border-bottom: 2px solid #5EB1BF;
	}
	
	h1 span {
		color:#5EB1BF;
		font-size: 6rem;
		font-weight: 500;
	}
	
	nav > a {
		color:#EEF9FC;
		font-size: 20px;
		font-weight: 800;
		text-decoration: none;
		padding: 10px 20px;
	}
	
		nav > a:hover{
			color:#5EB1BF;
			text-decoration: underline;
		}

		h2 {
			color: #fff;
			width: 100%;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;


			user-select: none;
			-webkit-user-select: none;
		}
			section#tutorial h2,
			section#book h2,
			section#podcast h2 {
				background-image: url("../assets/images/titlebg.jpg");
				background-size: cover;
				background-position: right;
			}
	
			section > a {
				color: #EEF9FC;
			}
				section > a:hover{
					color: #5EB1BF;
				}
		footer{
			width: 17%;
			color: #fff;
			text-align: center;
			margin: 0 auto;
		}
			footer:hover{
				color: #000;
				width: 19%;
				background-color: #EEF9FC;
			}

@media only screen and (max-width: 667px){
	section, header{
		max-width: 25em;
		}

		footer{
			width: 25%;
		}
	} 