*{}


body{
    margin: 0;
    padding: 0;
   background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    -webkit-text-stroke: .1vh #000000;
        font-size: 5vw;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background-image: url();
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 10%;
        margin-right: 10%;
}
button{
    background-color: rgb(255, 255, 255);
    cursor:pointer;
   -ms-text-size-adjust: 50px;
    border: 1px rgb(0, 0, 0);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    align-items:center;
    color: rgb(8, 9, 9);
    margin: 10px;
  }
  p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .economy{
    background-color: #00000090;
    margin-left: 10%;
    margin-right: 10%;
  }
  .religions{
    background-color: #00000090;
    margin-left: 10%;
    margin-right: 10%;
  }
  h2{
    color: #fff;
  }
  .population{
    background-color: #00000090;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cultura{
    background-color: #00000090;
    margin-left: 10%;
    margin-right: 10%;
  }
  .curiosites{
    background-color: #00000090;
    margin-left: 10%;
    margin-right: 10%;
  }