*{
    padding: 0;
    margin: 0;
}
.titulo{
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.979);
    font-size: 30px;
}
.artigos{
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.conteudo{
    padding-top: 30px;
    font-size: 25px;
    font-weight: 500;
    padding-left: 30px;
    background-color: rgba(219, 219, 226, 0.726);
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 40px;
}
img{
    padding: 20px;
}
body{
    background-color: rgb(185, 185, 185);
}