body{
    background-color: aquamarine;
}
.h1{
    font-weight: bold;
}   
.style_div{
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.style_div{
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.style_div{
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;
 
}
.mostrar{
    background-color: rgb(240, 248, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4%;
    margin-left: 30%;
    margin-right: 30%;

}