iframe{
    inline-size: 100%; 
    text-align: center;
}
img{
    inline-size: 50%;
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: justify;
}
h1{
    text-align: center;
}