#main-heading {
text-align: center;
}
#main-list, #courses-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
#courses-list ul {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
body {
background-color: lightblue;
}
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	margin: -1px;
}