    img {
        border-radius: 50px;
        width: 300px;
        }

    body {
background-color: cyan; }
.div {
    background-color: lightblue;
    border-radius: 50px;
    margin: 30px;
    width: 600px;
    height: 500px;
}
    h2 {
        font-size: medium;
    }