.div1 {
    width:500px;
    height:100px;
    border:5px solid rgb(0, 0, 0);
}
.center {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}   

body {
background-color: #fff099 ;
}

h1 {
    text-align: center;
}
a {
    text-align: center;
}
p {
  text-align: center;
}

.top {
    background-color: #F2CC0F;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    margin: -8px;
  }
  
  
  .top a {
    float: left;
    color: #F7E05E;
    text-align: center;
    padding: 12px 14px;
    text-decoration-style: solid;
    text-decoration-line: underline;
    font-size: 17px;
    color:rgb(0, 0, 0);
  }
  
  
  .top a:hover {
    background-color: #e6c300;
    color: black;
    transition-duration: 0.5s;
  }
  
  
  .top a.active {
    background-color: #e6c300;
    color: black;
  }
  
  .divs {
    background-color: rgb(12, 206, 240);
    border-radius: 50px;
    margin-right: 90px;
    margin-bottom: 30px;
    width: 300px;
    height: 150px;
    float: right;
}
.divs2 {
    background-color: #F7E05E;
    border-radius: 50px;
    margin-left: 370px;
    margin-bottom: 50px;
    width: 500px;
    height: 200px;   
}
.divs a {
  font-size: large;
  text-decoration: none;
  font-weight:bold;
}
.button1 {
  background-color: #F7E05E;
    border-radius: 50px;
    border-color: #e6c300;
    margin-right: 90px;
    margin-bottom: 30px;
    width: 300px;
    height: 150px;
    float: right;
    transition-duration: 0.5s;
}
.button1:hover {
  background-color: #F5C73D; 
  color: white;
}
.button_text {
  font-weight: bold;
  font-size: large;
}



