body {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    padding-top: 10em;
    display: flex;
    justify-content: center;
  }
  
  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: wrap; 
    margin: 0 auto;
    letter-spacing: 0.15em; 
    animation: typing 3.5s steps(120, end) alternate infinite,
      blink-caret 0.5s step-end infinite, rotateText 3.5s ease alternate infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  
  @keyframes rotateText {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg) scale(1.5) translateX(10px) skewY(10deg);
    }
    75% {
      transform: rotate(-10deg) scale(0.8) translateX(-10px) skewY(-10deg);
    }
    100% {
      transform: rotate(5deg) scale(1.2) translateX(5px) skewY(5deg);
    }
  }
  
  /* https://css-tricks.com/snippets/css/typewriter-effect/ */