/* Variáveis */
:root {
    --menu-width: 12em;
    --menu-padding-left: 5em;
  }
  
  /* Reset de box-sizing */
  * {
    box-sizing: border-box;
  }
  
  /* Estilo do body */
  body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 2em 2em 2em calc(var(--menu-width) + var(--menu-padding-left));
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilo da barra lateral de navegação (toc) */
  .toc {
    position: fixed;
    left: var(--menu-padding-left);
    top: 5em;
    padding: 1em;
    width: var(--menu-width);
    line-height: 2;
  }
  
  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .toc ul ul {
    padding-left: 2em;
  }
  
  .toc li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .toc li.visible > a {
    color: #0000c5;
    transform: translateX(5px);
  }
  
  /* Estilo do marcador de navegação */
  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .toc-marker path {
    transition: all 0.3s ease;
  }
  
  /* Estilo do conteúdo principal */
  .contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: 'Frank Ruhl Libre', sans-serif;
  }
  
  .contents img {
    max-width: 100%;
  }
  
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
  }
  
  .contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
  }
  
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
  }
  
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }
  
  /* Ajustes para telas menores */
  @media screen and (max-width: 1200px) {
    body {
      font-size: 14px;
    }
  }
  