body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
}
header {
	text-align: center;
	padding: 20px;
	margin: 20px;
}
h1#titulo-principal {
	font-size: 2rem;
}
p#introducao-1 {
	font-size: 1.2em;
}
p#introducao-2, p#introducao-3 {
	font-size: 1em;
}
p#introducao-1, p#introducao-2, p#introducao3 {
	margin-bottom: 15px;
}
nav {
	margin: 15px;
}
ul.nav {
	display: flex;
flex-direction: column;
	list-style-type: none;
}
ul.nav li {
	padding: 7px;
	margin-bottom: 15px;
}
.nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.1em;
}
a:hover {
	text-decoration: underline;
	color: white;
	background-color: #555;
}
main {
	padding: 20px;
	margin: 20px;
}
iframe {
	width: 100%;
	height: 315px;
	border: none;
	border-radius: 8px;
}
section {
	padding: 20px;
	margin: 40px;
	border: 1px solid #ccc;
	border-radius: 8px;
}
a[id^="link"] {
	display: block;
	margin-top: 15px;
}
#nome-influencer {
	font-size: 18px;
	font-weight: bold;
}
section, a {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
	header {
		padding: 10px;
		margin: 10px;
	}
	main {
		padding: 10px;
		margin: 10px;
	}
}