body {
  text-align: center;
  background-color: pink; 
}

.p { 
  color: black;
  font-family: Comic Sans MS;
   font-size: 17px;
  font-weight: bold;
}
    
.h1{
   color: white;
   font-family: Comic Sans MS;
  font-size: 25px;
   font-weight: bold;
}

.h2 { 
  color: black;
    font-family: Comic Sans MS;
  font-size: 12px;
  font-weight: bold;
}

.a { 
  font-family: Comic Sans MS;
  font-size: 18px;
  font-weight: bold;
  color: 	blue;
  background-color: lightskyblue;
}

.iru {
  font-family: Comic Sans MS;
  font-size: 20px;
  font-weight: bold;
  color: 	black;
  background-color: lightskyblue;
  width: 520px;
  height: 40px;
  border: 3px solid black;
}
