/* tela no computador */
@media (min-width: 768px) {
    body {
        background-color: rgb(255, 255, 255);
    }
}

h1 {
    color: rgb(10, 227, 10);
}

h2 {
    color: rgb(146, 247, 44);
}
/* tela no smartphone */

@media (max-width: 768px) {
    body {
        background-color: brown;
    }

}


h1 {
    color: cadetblue;
}

p, h1 {
    text-align: center;
    font-size: 30px;
}

div {
    width: 582;
    height: 512;
}

.mycontainer {
    width: 100%;
}

.mycontainer2 {
    width: 33%;
    float: left;
}

.mycontainer3 {
    width: 33%;
    float: inline-start;
}

.mycontainer4 {
    width: 33%;
    float: right;
}

.a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}