body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-top: 7%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed; /* Faz o cabeçalho ficar fixo */
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove a margem padrão */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    padding-top: 4em; /* Adiciona espaço suficiente para compensar o cabeçalho fixo */
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

article p {
    display: none;
}

h3 {
    cursor: pointer;
    display: inline;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #f1f1f1;
    color: #333;
}

/* Estilos específicos para submenu */
.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}

.menu:hover .menu-content {
    display: block;
}
