body {
  background-color: #E0FFFF;
  font-family: Comic Sans MS;
  padding: 10px;
	max-width: 400px;
}
p {
   padding: 0 40px;
   text-align: left;
   font-size: 1.00em;
}

ol {
    font-family: Comic Sans MS; 
    font-size: 15pt;
    font-weight: bold;
    color: blue;
}
h2 {
    font-family: Comic Sans MS; 
    font-size: 20pt;
    font-weight: bold;
    background: yellow;
    color: black;
}
h1 {
    font-family: Comic Sans MS; 
    font-size: 30pt;
    color: black;
    text-align: center;
    padding: 10px;
}
img {
   width: 300px;
   height: 400px;
   padding: 70px;
}

