/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

#quiz-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

#score-container {
    margin-top: 20px;
}

#score {
    font-weight: bold;
    font-size: 1.2em;
}
