
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll__bar {
    background-color: #383f32;
    overflow-y: scroll;
}
.scroll__bar::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
    color: #2c2221;
}

.container {
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}
.border:hover {
    border: 1px solid white;
}

.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card0 {
    background: url("https://i.pinimg.com/564x/cf/26/fb/cf26fbc7ac1323fdc5cbf1c5f73ecdd8.jpg") center center no-repeat;
    background-size: 300px;
}

.card1 {
    background: url("https://2.bp.blogspot.com/-qaYVS-GUa2w/UadVhr1nJmI/AAAAAAAABeI/wVP2g0fTPP4/s1600/___Gatherer_of_Souls____by_Kaizeru.jpg") center center no-repeat;
    background-size: 300px;
}

.card2 {
    background: url("https://i.pinimg.com/474x/d0/91/73/d09173f2c4572acf563a97bca9c6fbc9.jpg") center center no-repeat;
    background-size: 300px;
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    width: 100%;
}

h2:hover {
    opacity: 1;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    white-space: normal !important;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbga(0,0,0,0.4);
}
    .modal .content{
        background-color: #d3d3d3;
        margin: 15% auto;
        padding: 20px;
        border-radius: 5px;
        width: 65vh;
        height: 40vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        text-align: justify;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }