@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');
body{
    font-family: "Poppins", arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial";
    margin: 0;
    padding: 20px;
    background-color: #5d636f;
    font-family: "Poppins", arial, sans-serif;
}

#searchbar{
    width: 50vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  #list{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .cidades{
    text-align: center;
    margin: 5px 0;
    width: 17vw;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
    overflow: hidden;
    background-color: #283E5E;
    color: white;
    transition: all .2s;
   
    cursor: pointer;
  }
  
  .cidades:hover{
    background-color: #5cdeff;
    color: #182134;
  }
  
  @media screen and (max-width: 768px){
    #searchbar{
      width: 60vw;
    }
    
    .animals{
      width: 35vw;
    }
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
  }