body{
    background-image: url("https://i.pinimg.com/originals/4c/b8/c4/4cb8c4cfc86c8b4df29625386afe3c8e.gif") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    }
    

    


    
   