:root {
    --color-blue:rgb(255, 255, 255);
    --color-purple: #ffffff;
    --color-white: #fff;
    background-color:linear-gradient(90deg, rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255));
    --color-black-2: rgb(0, 0, 0);
    --color-black-3: rgb(255, 255, 255);
    --speed-normal: 0.5s;
    --speed-fast: 0.8s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkblue;
    background-repeat: repeat;
    background-size: 100%;
  }
  
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    font-style: italic;
  }
  
  
  a {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    transition: var(--speed-normal);
    border: 1px solid var(--color-blue);
  }
  a:hover {
    border: 1px solid transparent;
    background: var(--color-blue) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    -webkit-animation: animate var(--speed-fast) steps(8) forwards;
            animation: animate var(--speed-fast) steps(8) forwards;
  }
  a:last-of-type {
    border: 1px solid var(--color-purple);
  }
  a:last-of-type:hover {
    background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
  }
  
  @-webkit-keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }
  h1{
    font-family: 'arial', Times, serif;
  color: #fff;
  }