body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(https://img.freepik.com/vetores-gratis/peixe-balao-em-saco-plastico-debaixo-d-agua-no-mar-ou-oceano-poluicao-dos-oceanos-por-lixo-lixo-global_107791-5233.jpg?w=2000);
}


h1 {
    text-align: center;
    color: white;
}

#quiz {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
color: beige;
}

.question h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}

#result {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}


#bonusButton.visible {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

