body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
}
header {
	text-align: center;
	padding: 20px;
	margin: 20px;
}
h1#titulo-principal {
	font-size: 2em;
}
p#introducao-1 {
	font-size: 1.2em;
}
p#introducao-2, p#introducao-3 {
	font-size: 1em;
}
p#introducao-1, p#introducao-2, p#introducao3 {
	margin-bottom: 15px;
}
ul#index-antigas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
}
ul#index-antigas li {
	padding: 8px;
}
ul#sites {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
}
ul#sites li {
	padding: 8px;
}
#sites a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.1em;
}
a:hover {
	text-decoration: underline;
	color: white;
	background-color: #555;
}
main {
	padding: 20px;
	margin: 20px;
}
a {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
	body {
		font-family: "Arial", sans-serif;
		font-size: 14px;
	}
	header {
		text-align: center;
		padding: 10px;
		margin: 10px;
	}
	h1#titulo-principal {
		font-size: 1.5em;
	}
	p#introducao-1 {
		font-size: 1em;
	}
	ul#index-antigas {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style-type: none;
	}
	ul#index-antigas li {
		padding: 5px;
	}
	ul#sites {
		display: flex;
	flex-direction: column;
		justify-content: space-between;
		list-style-type: none;
	}
	ul#sites li {
		padding: 5px;
	}
	#sites a {
		font-size: 1em;
	}
	main {
		padding: 10px;
		margin: 10px;
	}
}