body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
}
header {
	text-align: center;
	padding: 20px;
}
h1#titulo-principal {
	font-size: 2rem;
}
p#introducao-1 {
	font-size: 1.2em;
}
ul#index-antigas {
	display: flex;
	flex-direction: column;
	padding: 10px;
	list-style-type: none;
}
ul#index-antigas li {
	padding: 5px;
	margin-bottom: 15px;
}
main {
	padding: 20px;
	margin: 15px;
}
ul#sites {
	display: flex;
flex-direction: column;
	list-style-type: none;
}
ul#sites li {
	padding: 5px;
	margin-bottom: 15px;
}
#sites a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.1em;
}
a:hover {
	text-decoration: underline;
	background-color: #555;
}
@media only screen and (max-width: 600px) {
	header {
		padding: 10px;
	}
	main {
		padding: 10px;
	margin: 8px;
	}
}