body{
    background:#e6ceed;
  }
h1{
    color:#8223a1;
    font-family:"lucida handwriting";
  }
h2{
    color:#8223a1;
    font-family:"courier new";
  }
li{
  color:#8223a1;
}
p{
  color:black;
}