@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body, * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /* .container {
    width: 100%;
    height: 100vh;
    background-color: #aed6d6;
    border-radius: 5px;
  } */

  .content {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .forms {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  }
  .forms input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .forms button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #85c8c8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .forms button:hover,.forms button:active,.forms button:focus {
    background: #6fc1c1;
  }
  
  #output {
    padding-top: 15px;
  }
  @media (max-width: 576px) {
    .content{
      width: 100%;
      padding: 0;
    }
  }