body{
background-image: url("fundo-site.webp");
background-repeat: repeat, repeat-x;
background-position: top right, center;
}

header{
    display: flex;
    height: 0%;
    padding: 0%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-image: beige;
    font-size: large;

}

nav{
    margin-left: 5%;
}

img{
border-radius: 30%;

}
#menu{
    display: flex;
    list-style: none;
    text-align: right;
}

#menu a{ 
    display: block;
    padding: .5rem;
    text-align: right;
}



a:hover{
    background-color: rgb(67, 8, 245);
    transition: 1s;
} 

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

#blog {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    
}

#imagem{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}

.card{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
#podcast{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;

}

a{
    color: rgb(255, 255, 255);
    text-decoration:none;
}

#tutorial{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}
button{
    
    background-color: rgba(7, 21, 125, 0.6);
    cursor: pointer;
    border: 12% solid black;
    border-radius: 15%;
    width: 20%;
    height: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#livro{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}

#fundo{
    align-items: center;

}

#video{
      font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
}

.card2{
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}