/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background-color: #fff;
    color: #000;
}

/* background & colors */
html {
    background: linear-gradient(180deg, rgba(255,183,3,1) 15%, rgba(193,86,144,1) 50%, rgba(114,9,183,1) 80%);
    scroll-behavior: smooth;
    padding-bottom: 50px;
}

html p,
html h1,
html h2 {
    color: #000;
}

html main section {
    background-color: #fff;
    margin-top: 50px;
    border-radius: 10px;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #f0f0f0;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(121, 121, 121);    /* color of the scroll thumb */
  }

/* Navbar */
div>ul li {
    text-align: left;
    background-color: #000;
    padding: 20px 0px;
}

div>ul>li>p {
    writing-mode: vertical-rl;
    font-weight: 800;
    padding: 25px;
    font-size: 20px;
}

div>ul li a,
div>ul li p {
    text-decoration: none;
    color: #fff;
}

div>ul li ul li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 5%;
}

div ul li ul li {
    display: none;
}

div>ul li:hover ul li {
    background-color: #000;
    display: block;
    color: #fff;
    transition: all .3s;
}

div>ul li:hover ul li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}

div>ul li ul li:hover {
    background-color: #ffb703;
}

/* sections */
section {
    max-width: 100%;
    padding: 5%;
}

section h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: "Grandstander", sans-serif;
}

section h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Grandstander", sans-serif;
}

section p {
    line-height: 150%;
    padding-bottom: 15px;
}

section a {
    color: #000;
    font-weight: 800;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 770px) {

    /* navbar */
    div>ul>li>p {
        display: none;
    }

    div>ul li ul {
        display: flex;
        align-items: start;
        justify-content: space-around;
        max-width: 1000px;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
        margin: auto;
        width: 100%;
        max-height: 40px;
    }

    div ul li ul li {
        display: block;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        transition: all 0.3s;
        padding: 0;
    }

    div>ul li ul li:hover {
        color: #ffb703;
        background-color: #000;
    }

    /* sections */
    section {
        width: 100%;
        max-width: 80%;
        justify-content: center;
        margin: auto;
        padding: 10px;
    }

    section p {
        padding-bottom: 10px;
    }

    section h1 {
        padding-top: 30px;
    }

    section h2 {
        padding-bottom: 10px;
        font-size: 30px;
    }
}