
body {
    text-align: center;
}

.p {
    font-size: 1.20em;
    font-family: Comic Sans MS;
    color: black;
}

.h1 {
    font-size:  0.90em;
    font-family: Comic Sans MS;
    color: black;
    font-weight: bold;
    background: yellow;

}

.p2 {
    font-size: 1.10em;
    font-family: Comic Sans MS;
    color: black;
    font-weight: bold;
    background: yellow;

}
