r*{
    margin: 0;
    padding: 0;
}



body{
    background: rgb(232,12,12);
    background-image: linear-gradient(to bottom, #e10000, #fd3c5e, #ff72a3, #faa2d7, #f1cef5, #faa2d7, #ff72a3, #fd3c5e, #e10000);
    text-align: center;
    height: 160vh;
    font-family:'Montserrat', sans-serif;
    color:black;
    font-size:0.875em;
    letter-spacing:0.063em;
}
h1{
    text-shadow:2px 3px 0px #777777;
    font-weight:900;
    font-size:3.25em;
    margin-bottom:30px;
    line-height:1.2;
    
}


nav{
    padding: 20px;
    background-color: rgb(255, 60, 0);
    font-size: larger;
}
p{
    font-size: medium;
    font-family: sans-serif;
}
span {
    font-weight:bold;
}
img{
    border-radius: 50px;
    width: 400px;
    height: 200px;
}
div {
    text-align:left;
    margin-left: 250px;
    margin-right: 200px
}