* {
    border-radius: 6vh;
    padding: 1vh;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 1px 1px 0px rgba(206,206,206,0.38);
}

summary {
    font-size: 4vh;
    cursor: pointer;
}

#list, h1{
    font-size: 7vh;
    color: darkorange;
}

h2 {
    color: rgb(26, 66, 245);
    font-size: 5vh;
}

p {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}