/* tela no computador */
@media (min-width: 768px) {
    body {
        background-color: rgb(255, 255, 255);
    }
}

h1 {
    color: rgb(10, 227, 10);
}

h2 {
    color: rgb(146, 247, 44);
}
/* tela no smartphone */

@media (max-width: 768px) {
    body {
        background-color: brown;
    }

}


.a {
    color: #000;
    font-size: 300%;
    text-align: center;
}

.mycontainer {
    width: 100%;
    display: flex;
}

.mycontainer2 {
    width: 33%;
    /* float: left; */
}


.composteira {
    width: 33%;
    /* float: inline-start; */
    background-image: url(composteira-bg.png);
    background-repeat: no-repeat;
    background-size:contain;

}

.mycontainer4 {
    width: 33%;
    height: 100px;
    /* float: right; */
}

.b {
    color: #000;
    text-align: center;
}

.caixa {
    width: 300px;
    height: 120px;
    /* border: 1px solid #aaaaaa; */
    display: block;
    margin-right: auto;
    padding-top: 1px;
    padding-left: 100px;
}

#div1 {
    width: 350px;
    height: 70px;
    border: 1px solid #aaaaaa;
    margin-left: 45px;
}

#div2 {
    width: 350px;
    height: 570px;
    /* border: 1px solid #aaaaaa; */
    margin-left: 60px;
}

.img {
    width: 100px;
    height: 100px;
    /* padding: 10px; */
}
/* 
#div1, #div2 {
    float: left;
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  } */

#div3 {
    width: 350px;
    height: 70px;
    border: 1px solid #aaaaaa;
    margin-left: 45px;
}

#div4 {
    width: 350px;
    height: 70px;
    border: 1px solid #aaaaaa;
    margin-left: 45px;
    margin-top: 10px;
}

.img {
    padding-top: 10px;
}

.jogo {
    background-color: green;
    display: flex;
}

.conteudo {
    background-color: rgb(215, 247, 215);

}

.cascadefruta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}
.carne {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-left: 100px;
}
.alho {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

.cebola {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    padding-left: 100px;
}

.cascadealhoecebola {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    padding-top: 1px;
    padding-left: 50px;
    width: 130px;
    height: 80px;
    padding-top: 10px;
}

.laticínios {
    padding-top: 10px;
}

.rolodepapelhigiênico {
    display: block;
    position: relative;
    height: 60px;  
    width: 70%;
    left: 250px;    
    top: -200px;
}

.galhos {
    position: absolute;
    height: 60px;  
    width: 70%;
    left: 1558px;
    top: 150px;
}

.grama {
    position: absolute;
    left: 780px;
    top: 180px;
}

#id1 {
    position: relative;
    left: 5px;
    top: -170px;
}

#id2 {
    position: relative;
    left: 10px;
    top: -170px;
}

#id3 {
    position: relative;
    left: 5px;
    top: -170px;
}

.folhas {
    position: relative;
    left: 120px;
    top: -25px;
}

/* .papeltoalha {
    position: absolute; 
    left: 300px;
    top: 570px;
} */

/* .papel {
    position: absolute;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
} */

.mycontainer5 {
    width: 11%;
}

.mycontainer6 {
    width: 11%;
}

.mycontainer7 {
    width: 11%;
}

/* .mycontainer8 {
    width: 11%;
    float: left;
} */

.mycontainer9 {
    width: 11%;
}

.conteudo2 {
    color: #000;
    font-size: 40px;
    text-align: center;
}

.conteudo3 {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
}

.conteudo4 {
    font-family: sans-serif;
}