body{ 
    background-color: rgb(222, 169, 218);
    text-align: center;

}

h1{
    background-color: rgb(206, 137, 199);
    text-align: center;
    font-size: xx-large;
}

li{
    list-style-position: inside;
}

p{
    font-style:initial;
    font-family:'Times New Roman', Times, serif; 
    
}
