body{ 
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    background-color: antiquewhite;
}

p{  
    color: black;
    text-align: center;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    



}