html {
    background-color: #86cadb;
}

button {
    background-color: #ffde7a;
    color: #000000;
    border: 2;
    border-color: #000000;
    padding: 12px 30px;
    border-radius: 1px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px; 
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    
}
button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
   
}
