header{
    display: flex;
    height: 80px;
    padding: 40px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: black;
    font-size: large;
}

#menu{
    display: flex;
    list-style: none;
    height: 40px;
    width: 60px;
    padding-bottom: 60%;
}

#logo{
    font-size: 20px;
    font-weight: bold;
}

#menu a{
    display: block;
    padding: 15px;
}

.logo1{
    height: 40px;
    width: 60px;
}

body{
    background-color: rgb(128, 128, 128);
    user-select: none;
}

body, ul{
    margin: 0;
    padding: 0;    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

a:hover{
    background-color: rgb(255, 0, 0);
    transition: 1s;
}

img{
    max-width: 100%;
    display: block;
    border-radius: 15px;    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
}

.flex > div{
    flex: 1 1 300px;
    margin: 30px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

section.flex{
    background-color: rgb(151, 151, 151);
}

.rodape{
    color: black;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h1{
    -webkit-text-stroke: .1vh #000000;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-image: url(imagens/deus2.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: text 10s ease alternate infinite;
    transition-duration: 1s;
    background-repeat: no-repeat;
}

@keyframes text{
    from{
        background-position: 10% 50%;
    }
    to{
        background-position: 100% 50%;
    }
}


.container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px;
    border: none;
    overflow: hidden;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;  
    background-color: rgb(43, 43, 43);
      
}


.btn:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(30, 255, 0);
}

.btn_1 {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #0fff0f, #ff5b0f, #0f13ff);
    animation: anime 2s linear infinite ;
}
@keyframes anime {
    0%{ left: -100%;}
    90%, 100%{ left: 100%;}
}

.btn_2 {
    position: absolute;
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, red, yellow);
    animation: anima 2s linear infinite;
}
@keyframes anima {
    0%{ top: -100%;}
    90%, 100%{ top: 100%;}
}

.btn_3 {
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, blue, red, #0fff0f);
    animation: animates 2s infinite linear;
}
@keyframes animates {
    0%{ right: -100%;}
    90%, 100%{right: 100%;}
}

.btn_4 {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, blue, #0fff0f);
    animation: animacao 2s linear infinite ;
}
@keyframes animacao {
    0%{ bottom: -100%;}
    90%, 100%{ bottom: 100%;}

}
