body {
text-align: center;
background-color: #98FB98;
color:black

}
 
a {

font-family: Comic Sans MS;
font-size: 25px;
font-weight: bold;
color: blue;

}

  h1 {

    font-size: 50px;
  }