h1{
    text-align: center;
    

  }

  a{
    text-decoration: none;
  }

  .botao{
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  button{
    width:100px;
    height:40px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;

  }
  a{
    color: rgb(0, 255, 0);
    
  }
 p{
  text-align: center;
 }
 h3{
  text-align: center;
 }