.nav {
    opacity: 80%;
    padding: 10px;
    text-align: center; 
    font-family: Comic Sans MS; 
}

.nav2 {
    text-decoration: none;
    margin-right: 30px;
    transition: 0.4s ease-in-out;
}

.nav2:hover {
    font-size: 19px;
}
 
h1 {
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: Comic Sans MS; 
}
h2 {
    font-size: 18px;
    color: black;
    font-weight: 500;
    font-family: Comic Sans MS; 
}

body {
	background: linear-gradient(100deg, #93fe9c, #f4f077, #f39191, #a8e8ff, #f083a9);
	background-size: 1000% 1000%;
	animation: gradient 30s ease infinite;
	height: 100vh;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p {
    font-size: 15px;
    font-family: Comic Sans MS; 
}

 html{
    scroll-behavior: smooth;
}

iframe {
    border-radius: 20px;
}