.texto{
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url();
    text-align: center;
    align-items: center;
    padding: 0 20% 50% 20%;
	

  }
  
  .marvel-bold {
    font-family: "Marvel", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .marvel-regular-italic {
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .marvel-bold-italic {
    font-family: "Marvel", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


  h1{
    text-align: center;
    
  }
/*  
  
/* 
  .texto2{
    height: 500px;
    width: 800px;
    text-align: center;
    padding-left: 19%;
    background-image: url(imagens/swift.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 250px;
   

  } */

  .banner{
    background-image: url();
  }

  .tutorial{
    border: solid black 1px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
  }



  @import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
  
	
}

.descer{
	padding-left: 10px;
	padding-top: 10px;
}

.banner{
	padding-top: 10%;
}

.botao1{
	padding-left: 50%;
}
.botao2{
	padding-left: 2%;
	padding-top: 4%;
}

.botao3{
	padding-left: 2%;
	padding-top: 4%;
}
.twitter-tweet{
	padding-left: 15%;
}

.segredo{
	opacity: 0.1;
	padding-left: 50%;
}