body {
    background-color: azure;
    text-align: center;
}

h1 {
    color: blue;
}

label, input, div {
    color: #000000;
    font-size: large;
    padding: 10px;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}