
body{

    background: linear-gradient(-45deg, cyan, yellow, pink, lightgreen);
    background-size: 1000% 1000%;
    animation: gradient 12s ease infinite;
    height: 100vh;
    overflow-y: hidden;
}
