* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e5ec;
}

h1 {
    position: relative;
    text-align: center;
    margin: 1rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #676767;
}

.content {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5), 7px 7px 20px 0 rgba(0,0,0,.1), 4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}

.bonito {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}
.bonito span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.bonito:after,
.bonito:before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.bonito:before {
    height: 0;
    width: 2px;
}
.bonito:after {
    width: 0;
    height: 2px;
}
.bonito:hover {
    background: transparent;
    box-shadow: none;
}
.bonito:hover:before {
    height: 100%;
}
.bonito:hover:after {
    width: 100%;
}
.bonito span:hover {
    color: rgba(2,126,251,1);
}
.bonito span:after,
.bonito span:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.bonito span:before {
    width: 2px;
    height: 0;
}
.bonito span:after {
    width: 0;
    height: 2px;
}
.bonito span:hover:before {
    height: 100%;
}
.bonito span:hover:after {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus,
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* calculadora */
.calculadora {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover {
    background-color: black;
}

#resultado {
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

#alertOP {
    display: none;
    position: fixed;
    margin: 0 100px;
}

/*inputs and labels // all about forms*/
:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

input {
    font-size: 16px;
    font-size: Max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

label {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
}

input + label {
    margin-top: 2rem;
}
