  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

  * {
    font-family: 'Montserrat', sans-serif;
  }

  html {
    background-color: black;
  }
  
  #credito {
    text-align: center;
    color: white;
  }

  #credito a {
    color: white;
  }