body {
    font-family: Arial, sans-serif;
    background-color: #FFEB74;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: white;
}

header h1 {
    margin: 0;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-rectangle {
    background-color: #D3D3D3;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    text-align: justify;
}

.right-square {
    background-color: #9370DB;
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.right-square img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}