ul#companies {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0;
	list-style-type: none;
}
ul#companies li {
	background-color: #f8f9fa;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul#companies li a {
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
}
ul#companies li a:hover {
	color: #0056b3;
}